<launch>
  
  <env name="GAZEBO_MODEL_PATH" value="$(find tablesetting_scenario_models)/models" />
  <env name="GAZEBO_PLUGIN_PATH" value="$(find tablesetting_scenario_gazebo)/plugins" />
  <env name="LD_LIBRARY_PATH" value="$(find tablesetting_scenario_gazebo)/plugins:$(env LD_LIBRARY_PATH)" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tablesetting_scenario_gazebo)/worlds/tablesetting_scenario.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- Start PR2 Robot -->
  <!--include file="$(find pr2_gazebo)/launch/pr2.launch"/-->
  <include file="$(find tablesetting_scenario_gazebo)/launch/pr2.launch"/>
  
  <include file="$(find iai_maps)/launch/kitchen_with_state_publisher.launch"/>
  
  <node pkg="gazebo_ros" name="spawn_kitchen" type="spawn_model" args="-urdf -param kitchen_description -model kitchen -x -3.45 -y -4.35 -Y 3.1415" />

</launch>
